# Pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.Series([1, 2, 3, 'Amir', 0, np.nan , -1])

0       1
1       2
2       3
3    Amir
4       0
5     NaN
6      -1
dtype: object

In [4]:
dates = pd.date_range('20220228', periods=6)
dates

DatetimeIndex(['2022-02-28', '2022-03-01', '2022-03-02', '2022-03-03',
               '2022-03-04', '2022-03-05'],
              dtype='datetime64[ns]', freq='D')

In [42]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['rand1', 'rand2', 'rand3', 'rand4'])
df

               rand1     rand2     rand3     rand4
2022-02-28  0.751421  0.435172 -0.614639  1.270648
2022-03-01 -2.123812 -0.428428 -1.701824  0.130659
2022-03-02  1.415439  1.838774  1.645187 -0.625112
2022-03-03  0.532092  0.767640 -0.331015  2.634668
2022-03-04  0.688475  0.601126 -1.774770 -1.167303
2022-03-05  0.748841  0.830385  2.093621  0.984442

In [43]:
df.dtypes

rand1    float64
rand2    float64
rand3    float64
rand4    float64
dtype: object

In [44]:
df.head()

               rand1     rand2     rand3     rand4
2022-02-28  0.751421  0.435172 -0.614639  1.270648
2022-03-01 -2.123812 -0.428428 -1.701824  0.130659
2022-03-02  1.415439  1.838774  1.645187 -0.625112
2022-03-03  0.532092  0.767640 -0.331015  2.634668
2022-03-04  0.688475  0.601126 -1.774770 -1.167303

In [45]:
df.describe()

          rand1     rand2     rand3     rand4
count  6.000000  6.000000  6.000000  6.000000
mean   0.335410  0.674112 -0.113907  0.538000
std    1.242704  0.730427  1.645929  1.382672
min   -2.123812 -0.428428 -1.774770 -1.167303
25%    0.571188  0.476661 -1.430028 -0.436169
50%    0.718658  0.684383 -0.472827  0.557551
75%    0.750776  0.814699  1.151136  1.199097
max    1.415439  1.838774  2.093621  2.634668

In [46]:
df.mean()

rand1    0.335410
rand2    0.674112
rand3   -0.113907
rand4    0.538000
dtype: float64

In [47]:
df.T

       2022-02-28  2022-03-01  2022-03-02  2022-03-03  2022-03-04  2022-03-05
rand1    0.751421   -2.123812    1.415439    0.532092    0.688475    0.748841
rand2    0.435172   -0.428428    1.838774    0.767640    0.601126    0.830385
rand3   -0.614639   -1.701824    1.645187   -0.331015   -1.774770    2.093621
rand4    1.270648    0.130659   -0.625112    2.634668   -1.167303    0.984442

In [48]:
df.sort_values(by= '''rand1''')

               rand1     rand2     rand3     rand4
2022-03-01 -2.123812 -0.428428 -1.701824  0.130659
2022-03-03  0.532092  0.767640 -0.331015  2.634668
2022-03-04  0.688475  0.601126 -1.774770 -1.167303
2022-03-05  0.748841  0.830385  2.093621  0.984442
2022-02-28  0.751421  0.435172 -0.614639  1.270648
2022-03-02  1.415439  1.838774  1.645187 -0.625112

In [49]:
df[df['rand1']>0]

               rand1     rand2     rand3     rand4
2022-02-28  0.751421  0.435172 -0.614639  1.270648
2022-03-02  1.415439  1.838774  1.645187 -0.625112
2022-03-03  0.532092  0.767640 -0.331015  2.634668
2022-03-04  0.688475  0.601126 -1.774770 -1.167303
2022-03-05  0.748841  0.830385  2.093621  0.984442

## read and write operations

In [57]:
df.to_csv('C:\Users\AmirH\Documents\py\ML')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_9576/3321476290.py, line 1)